*{
  box-sizing:border-box;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
  color: yellow;
  display: flexbox;
}

.vida{
  text-align: center;
}
.numero{
  text-align: center;
  color: white;
}
.puntaje{
  text-align: center;
  color: white;
}
.pacman {
  height:100rem ;
}

.pacmaan{
  position: relative;
  animation: pacman 4s;
}

@keyframes pacman {
  0%, 21%  {top: 240px; left: 120px; rotate:0deg; background-color: rgb(45, 192, 26);}
  28% {top: 160px; left: 120px; rotate: -90deg; background-color: blue;}
  34% {top: 160px; left: 200px; rotate: 0deg; background-color: rgb(192, 26, 26);}
  40% {top: 195px; left: 203px; background-color: white;}
  45% {top: 195px; left: 318px; rotate: -90deg; background-color: royalblue;}
  50% {top: 156px; left: 318px; rotate: 0deg;  background-color: rosybrown;}
  55% {top: 156px; left: 353px; rotate: -90deg; background-color: rebeccapurple;}
  60% {top: 120px; left: 356px; rotate: 0deg; background-color: teal;}
  66% {top: 120px; left: 475px; rotate: 0deg; background-color: tomato;}
  72% {top: 155px; left: 475px; rotate: 0deg; background-color: yellow;}
  78% {top: 155px; left: 515px; rotate: -90deg; background-color: orangered;}
  82% {top: 195px; left: 515px; rotate: 0deg; background-color: orchid;}
  88% {top: 195px; left: 630px; rotate: 0deg; background-color: olive;}
  96% {top: 155px; left: 630px; rotate: 0deg; background-color: aqua;}
  97% {top: 155px; left: 710px; rotate: 0px; background-color: salmon;}
  100% {top: 240px; left: 710px; rotate: 0px; background-color: fuchsia;}
}